[Desktop Entry]
Name=Sopwith
Type=Application
Comment=WW1 Dogfighting Game
Comment[hu]= A klasszikus sopwith játék
Exec=sopwith
Terminal=false
Icon=sopwith
Categories=Game;ArcadeGame;
