[Desktop Entry]
Name=gtklife
Comment=gtk-life
Comment[hu]=Életjáték
Exec=gtklife
Icon=gtklife
Terminal=false
Type=Application
Categories=Game;Simulation;
