[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
PrivateDevices=yes
SyslogLevel=err

ExecStart=/usr/sbin/nginx -g 'pid /run/nginx.pid;'
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGQUIT
KillMode=mixed

[Install]
WantedBy=multi-user.target
