[Desktop Entry]
Type=Application
Name=CodeBlocks
Name[hu]=CodeBlocks
Comment=C++ IDE
Comment[hu]=C++ fejlesztői környezet
Exec=codeblocks
Icon=codeblocks
Terminal=false
Categories=Development;IDE;
