[Desktop Entry]
Name=Lyx
Comment=(La)TeX development environment
Comment[hu]=(La)TeX fejlesztői környezet
Icon=/usr/share/lyx/images/lyx.xpm
Exec=lyx
Type=Application
Terminal=false
Categories=Development;IDE;
