[Desktop Entry]
Name=Emilia Pinball
Name[hu]=Emilia flipper
Comment=OpenGL pinball game
Comment[hu]=OpenGL flipper játék
Type=Application
Exec=pinball
Icon=/usr/share/pinball/pinball.xpm
Categories=Game;ArcadeGame;
Terminal=false
