[Unit]
Description=Sauerbraten dedicated server
After=network.target

[Service]
User=nobody
ExecStart=/usr/share/games/sauerbraten/bin/sauer_server
Restart=on-abort
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

