[Desktop Entry]
Name=Tomatoes
Type=Application
Exec=tomatoes
GenericName=Tomatoes
GenericName[hu]=Paradicsomok
Icon=tomatoes
Categories=Game;ArcadeGame;
