[Desktop Entry]
Name=vte
Comment=The core engine of Gnome Terminal
Comment[hu]=A Gnome terminál lelke
Exec=vte
Icon=gnome-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
