[Desktop Entry]
Type=Application
Name=Mutt
Comment=Terminal mail client
Comment[hu]=Karakteres levelező kliens
Exec=mutt
Terminal=true
Categories=Network;Email;ConsoleOnly;
X-UHU-Major=-1
