[Desktop Entry]
Name=LsHw
Comment=A small tool to provide detailed information on the hardware configuration of the machine
Comment[hu]=Részletes hardvereszköz-listázó program konzolos és grafikus felülettel
Exec=gtk-lshw
Icon=/usr/share/lshw/artwork/logo.svg
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
