[Desktop Entry]
Type=Application
Name=LinCity
GenericName=SimCity Clone
GenericName[hu]=SimCity-klón
Comment=City builder game
Comment[hu]=Városépítő játék
Exec=lincity
Icon=lincity
Categories=Game;Simulation;
