[Desktop Entry]
Type=Application
Name=Qt6 QDbusViewer
Name[hu_HU]=Qt6 D-Bus Debugger
GenericName=D-Bus Debugger
Comment=Qt6 D-Bus Debugger
Comment[hu]=Qt6 D-Bus Debugger
Exec=qdbusviewer6
Icon=qdbusviewer-qt6
Categories=Qt;Development;Debugger;
