[Desktop Entry]
Type=Application
Name=Qt6 Linguist
Comment=Qt6 Translation tool
Comment[hu]=Qt6 fordításkészítő
Exec=linguist6
Icon=linguist-qt6
Categories=Qt;Development;Translation;
Name[hu_HU]=qt6-linguist.desktop
