[Desktop Entry]
Type=Application
Name=Qt6 Designer
Comment=Qt6 Designer
Comment[hu]=Qt6 fejlesztőeszköz
Exec=designer6
Icon=designer-qt6
Categories=Qt;Development;IDE;
Name[hu_HU]=qt6-designer.desktop
