[Desktop Entry]
Type=Application
Name=Qt6 Assistant
Name[hu_HU]=Qt6 dokumentációs segéd
Comment=Qt6 Documentation Assistant
Comment[hu]=Qt6 dokumentációs segéd
Exec=assistant6
Icon=assistant-qt6
Categories=Qt;Development;Documentation;
