[Desktop Entry]
Type=Application
Name=Tea Editor
Comment=Qt based editor
Comment[hu]=Qt alapú szerkesztő
Exec=tea %F
Icon=/usr/share/tea/icons/tea_icon_v2.png
Terminal=false
Categories=Utility;TextEditor;
