[Desktop Entry]
Name=Caph
Comment=Sandbox game based on physics
Comment[hu]=Fizikai játék
Exec=caph
Icon=caph
Terminal=false
Type=Application
Categories=Game;Simulation;
