[Desktop Entry]
Type=Application
Name=LXlogo
Comment=Interactive LOGO
Comment[hu]=Interaktív LOGO
Exec=lxlogo-start
Icon=/usr/share/pixmaps/lxlogo.gif
Terminal=false
Categories=Development;Profiling;
