[Desktop Entry]
Type=Application
Name=z81
Name[hu]=ZX81
GenericName=zx81 emulator
GenericName[hu]=zx81 emulátor
Comment=Sinclair ZX81 emulator
Comment[hu]=a jó öreg zx81 számítógép emulátora
Icon=/usr/lib/z81/xz81.xpm
Exec=xz81
Terminal=false
StartupNotify=true
Categories=Game;Emulator;
