[Desktop Entry]
Exec=gftp %u
Icon=gftp
Terminal=false
Type=Application
Name[zh_TW]=gFTP
Comment[zh_TW]=多線緒  ftp client
Name[pt_BR]=gFTP
Comment[pt_BR]=Cliente FTP multi-tarefa
Name[pl]=gFTP
Comment[pl]=Wielozadaniowy klient FTP
Name[nl]=gFTP
Comment[nl]=Multithreaded ftp programma
Name[ko]=gFTP
Comment[ko]=다중쓰레드 FTP 프로그램
Name[ja]=gFTP
Comment[ja]=マルチスレッドFTPクライアント
Name[fr]=gFTP
Comment[fr]=Client ftp multithread
Name[es]=gFTP
Comment[es]=Cliente FTP multihilo
Name[de]=gFTP
Comment[de]=Multithreaded FTP Programm
Name[da]=gFTP
Comment[da]=Flertrådet ftpklient
Name[br]=gFTP
Comment[br]=Cliente de ftp multithreaded
Name[hu]=gFTP
Comment[hu]=Többszálas ftp-kliens
Name=gFTP
Comment=Multithreaded ftp client
Categories=Network;FileTransfer;
