[Desktop Entry]
Type=Application
Name=Aqualung-pulse
Comment=Gapless audio player with jack, alsa and oss support
GenericName=Music Player
Comment[hu]=Szünetmentes hanglejátszó pulseaudio kimenettel
Exec=aqualung -o pulse
Icon=aqualung
Terminal=false
Categories=GTK;AudioVideo;Audio;Player;
StartupNotify=true
