[Desktop Entry]
Type=Application
Name=Aqualung
Comment=Gapless audio player with jack, alsa and oss support
GenericName=Music Player
Comment[hu]=Szünetmentes hanglejátszó
Exec=aqualung %f
Icon=aqualung
Terminal=false
Categories=GTK;AudioVideo;Audio;Player;
StartupNotify=true
