[Desktop Entry]
Type=Application
Name=Pingus
GenericName=Lemmings Clone
GenericName[hu]=Lemmings-klón
Comment=Save the Penguins
Comment[hu]=Mentsd meg a pingvineket
Exec=pingus
Icon=pingus
Terminal=false
Categories=Game;ActionGame;
