[Desktop Entry]
Encoding=UTF-8
Name=cadaver
Comment=WebDAV client
Comment[hu]=WebDAV kliens
Exec=cadaver
Terminal=true
Type=Application
Categories=Network;

