[Desktop Entry]
Name=Dillo
Comment=Browse the World Wide Web
Comment[hu]=böngésző
GenericName=Web Browser
Exec=dillo
Icon=dillo
Terminal=false
Type=Application
Categories=Network;WebBrowser;
