[Desktop Entry]
Type=Application
Name=mocp Music Player
GenericName=Console music player
Comment=Play music on console
#Icon=mpv
TryExec=mocp
Exec=mocp
Terminal=true
Categories=AudioVideo;Audio;Player;
MimeType=application/ogg;audio/aac;audio/x-aac;audio/m4a;audio/x-m4a;audio/mp1;audio/x-mp1;audio/mp2;audio/x-mp2;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/mpg;audio/x-mpg;audio/ogg;audio/scpls;audio/x-scpls;audio/wav;audio/x-pn-windows-pcm;audio/x-realaudio;audio/x-pn-realaudio;audio/x-ms-wma;audio/x-pls;audio/x-wav;audio/x-flac;audio/x-vorbis+ogg;audio/x-shorten;audio/x-ape;audio/x-wavpack;audio/x-tta;audio/AMR;audio/ac3;audio/flac;audio/mp4;
