[Desktop Entry]
Type=Application
Name=Rocks'N'Diamonds
GenericName=Underground digging game
Comment=Dig for treasure and solve puzzles underground
Comment[hu]=gyémántbányászat
Icon=rocksndiamonds
Exec=rocksndiamonds
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
