[Desktop Entry]
Type=Application
Name=Ri-li
Name[hu]=Ri-li favonat
Exec=Ri_li
Icon=/usr/share/games/Ri-li/Ri-li-icon-48x48.png
Categories=Game;ArcadeGame;
