[Desktop Entry]
Type=Application
Name=cave9
GenericName=Underground navigation
GenericName[hu]=földalatti járatban repülés
Icon=/usr/share/cave9/icon.png
Exec=cave9
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
