[Desktop Entry]
Type=Application
Name=AlsaMixer
Comment=Mixer for the ALSA sound system
Comment[hu]=Az ALSA hangrendszer hangkeverője
Exec=alsamixer
Terminal=true
Categories=AudioVideo;Audio;Mixer;
