[Desktop Entry]
Type=Application
Name=Qt5 Designer
Comment=Qt5 Designer
Comment[hu]=Qt5 fejlesztőeszköz
Exec=designer-qt5
Icon=designer-qt5
Categories=Qt;Development;IDE;
