[Desktop Entry]
Type=Application
Name=Qt5 QDbusViewer
GenericName=D-Bus Debugger
Comment=Qt5 D-Bus Debugger
Comment[hu]=Qt5 D-Bus Debugger
Exec=qdbusviewer-qt5
Icon=qdbusviewer-qt5
Categories=Qt;Development;Debugger;
