[Desktop Entry]
Type=Application
Name=Qt5 Assistant
Comment=Qt5 Documentation Assistant
Comment[hu]=Qt5 dokumentációs segéd
Exec=assistant-qt5
Icon=assistant-qt5
Categories=Qt;Development;Documentation;
