[Desktop Entry]
Type=Application
Name=Qt5 Linguist
Comment=Qt5 Translation tool
Comment[hu]=Qt5 fordításkészítő
Exec=linguist-qt5
Icon=linguist-qt5
Categories=Qt;Development;Translation;
