[Desktop Entry]
Type=Application
Name=UCBLogo
Comment=LOGO programming language
Comment[hu]=LOGO programnyelv
Exec=logo
Icon=ucblogo
Terminal=true
Categories=Development;
