[Desktop Entry]
Name=Valkyrie
Comment=Graphical User Interface for Valgrind Suite
Comment[hu]=A valgrind hibakereső grafikus felülete
Exec=valkyrie
Icon=valkyrie
Terminal=false
Type=Application
Categories=Development;Debugger;Profiling;Qt;
