[Desktop Entry]
Type=Application
Name=Darkplaces
GenericName=Quake Engine
GenericName[hu]=Quake-1 motor
Comment=Play Quake with the Darkplaces engine
Comment[hu]=Quake-1 a Darkplaces motorral
Icon=darkplaces
Exec=darkplaces-sdl
Terminal=false
StartupNotify=true
Categories=Game;ActionGame;
