[Desktop Entry]
Name=digger
GenericName=Digger
GenericName[hu]=kincsgyűjtés
Comment=the digger game, cloned and remastered with additional features
Comment[hu]=A digger !
Exec=digger
Icon=digger
Type=Application
Categories=Game;ArcadeGame;
