[Desktop Entry]
Type=Application
Name=XBlast
Comment=Blast the Others game (command line setup)
Comment[hu]=Robbantsd fel a többieket (régi változat, parancssori indítás)
Exec=xblast
Terminal=true
Icon=xblast-bomb
Categories=Game;ActionGame;
