[Desktop Entry]
Type=Application
Name=XBlast-TNT (16 players)
Name[hu]=XBlast-TNT (16 játékosig)
Comment=Blast the Others game (new version, up to 16 players)
Comment[hu]=Robbantsd fel a többieket (új változat, akár 16 játékossal is)
Exec=xblast-tnt-smpf
Icon=xblast-bomb
Categories=Game;ActionGame;
