[Desktop Entry]
Type=Application
Name=KompoZer
GenericName=Web Authoring System
GenericName[hu]=Világháló lap szerkesztő
Comment=WYSIWYG Web Editor
Comment[hu]=WYSIGWYG világháló lap szerkesztő
Icon=kompozer
Exec=kompozer
Terminal=false
StartupNotify=true
MimeType=text/html;text/xml;text/css;text/x-javascript;text/javascript;application/xhtml+xml;
Categories=Development;WebDevelopment;
