[Desktop Entry]
Name=Truecrypt
Comment=On-the-fly encryption
Comment[hu]=Truecrypt titkosító
Exec=truecrypt
Icon=truecrypt
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
