[Desktop Entry]
Type=Application
Name=Fluxstyle
Comment=Graphical style manager for fluxbox
Comment[hu]=Fluxbox témakezelő
TryExec=fluxstyle
Exec=fluxstyle
Icon=fluxmetal
Categories=Settings;GTK;System;
NotShowIn=GNOME;KDE;MATE;X-CINNAMON;LXDE
