[Desktop Entry]
Type=Application
Terminal=false
Name=JMoney
Name[hu]=JMoney
Comment=Accounting
Comment[hu]=Könyvelőprogram
Exec=jmoney
Icon=/usr/share/pixmaps/uhu/jmoney.png
Categories=Office;
