[Desktop Entry]
Name=GVFS Open
Type=Application
Exec=gvfs-open %F
Terminal=false
StartupNotify=true
MimeType=application/octet-stream;application/octetstream;
NoDisplay=true
