[Desktop Entry]
Name=TiMidity
Comment=MIDI Player
Comment[hu]=MIDI-lejátszó
Icon=/usr/share/pixmaps/timidity.png
Exec=timidity -ig %F
Type=Application
Categories=AudioVideo;Audio;Player;Midi;
