[Desktop Entry]
Name=AcidRip
Name[hu]=AcidRip
Comment=DVD ripper
Comment[hu]=DVD sávok mentése
Exec=acidrip
Icon=acidrip
Terminal=false
Type=Application
Categories=AudioVideo;
