[Desktop Entry]
Type=Application
Name=Frozen Bubble Editor
Exec=frozen-bubble-editor
Comment=Level editor
Comment[hu]=Pályaszerkesztő
Icon=frozen-bubble
Categories=Game;ArcadeGame;
