[Desktop Entry]
Type=Application
Name=Frozen Bubble
Exec=frozen-bubble
Comment=Shooting Game
Comment[hu]=Golyólövöldözés
Icon=frozen-bubble
Categories=Game;ArcadeGame;
