[Desktop Entry]
Name=searchmonkey
Comment=Text search utility
Comment[hu]=Szöveg kereső
Exec=searchmonkey
Icon=/usr/share/pixmaps/searchmonkey/searchmonkey-32x32.png
Terminal=false
Type=Application
Categories=Utility;TextTools;
