[Desktop Entry]
Type=Application
Name=Shooter
Name[hu]=Lövöldöző
GenericName=Allegro shooter demo
GenericName[hu]=Allegro lövöldöző demó
Icon=shooter
Exec=shooter
Categories=Game;ArcadeGame;
