[Desktop Entry]
Type=Application
Name=Skater Demo
Name[hu]=Gördeszka demó
GenericName=Allegro shooter demo
GenericName[hu]=allegro demonstrációs gördeszka játék
Exec=skater
Categories=Game;ArcadeGame;
