[Desktop Entry]
Type=Application
Name=Simutrans
Comment=An open source transportation simulation game
Comment[hu]=Szállítmányozási szimulációs játék
Exec=simutrans
Icon=simutrans
Categories=Game;Simulation;
Terminal=false
StartupNotify=true
