[Desktop Entry]
Type=Application
Name=ne
GenericName=Text Editor
GenericName[hu]=Szövegszerkesztő
Comment=The nice editor
Exec=ne %F
Terminal=true
Categories=Utility;TextEditor;ConsoleOnly;
X-UHU-Major=-1
