[Desktop Entry]
Type=Application
Name=Unibrow
Name[hu]=Betűböngésző
Comment=Unicode browser
Comment[hu]=Unicode karakterek böngészője
Exec=unibrow
Terminal=false
Icon=preferences-desktop-font
Categories=GTK;Utility;
