[Desktop Entry]
Type=Application
Name=Gmanedit
Comment=Gtk2 based manpage editor
Name[hu]=Gmanedit
Comment[hu]=Kézikönyv-lap szerkesztő
Exec=gmanedit
Icon=/usr/share/pixmaps/gmanedit_icon.png
Terminal=false
Categories=Utility;TextEditor;
