[Desktop Entry]
Name=Trigger Rally
Comment=Rally racing game
Comment[hu]=terepautózás
GenericName=Rally racing
GenericName[hu]=terep autó száguldás
Exec=trigger-rally
Icon=trigger
Terminal=false
Type=Application
Categories=Game;SportsGame;
