[Desktop Entry]
Name=Seamonkey
Exec=seamonkey
Icon=seamonkey
Terminal=false
Type=Application
GenericName=Web Browser
GenericName[hu]=Webböngésző
Categories=Network;GTK;Email;WebBrowser;News;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;text/xml;application/xhtml+xml;
