[Desktop Entry]
Name=DBEedit
Comment=Database front-end for all your relational databases
Comment[hu]=Adatbázis szerkesztő
Exec=dbedit
Icon=dbedit
Terminal=false
Type=Application
Categories=Office;Database;
