[Desktop Entry]
Categories=AudioVideo;Video;Player;TV;
Comment[hu]=VDR kodi felülettel
Comment=VDR+KODI
Exec=vdrkodi
Icon=vdrkodi
Name=kodi+vdr
StartupNotify=true
Terminal=true
Type=Application
