Summary=Nagios network and server monitor
Summary[hu]=Nagios hálózat- és szerverfigyelő
Description=A powerful network and server monitoring program. Supports monitoring of local processes, remote connections, and network traffic. 
Description[hu]=Hálózat- és szerverfigyelő program. Támógatja a helyi feladatok vizsgálatás, a távoli kapcsolatok és a hálózati forgalom figyelését.
Script=/etc/init.d/nagios
SupportsReload=yes
Runlevels=
Sequence=25
