[Desktop Entry]
Name=Poweriso
GenericName=ISO Disc Utility
GenericName[hu]=ISO lemezkép kezelő
Comment=CREATE, EXTRACT, BURN, MOUNT IMAGE FILES...
Comment[hu]=ISO lemezkép manipulátor
Categories=AudioVideo;DiscBurning;
Exec=poweriso
Icon=poweriso
Type=Application
