[Desktop Entry]
Name=ZDoom
GenericName=Doom Engine
GenericName[hu]=Doom motor
Exec=zdoom
Type=Application
Categories=Game;ActionGame
StartupNotify=true
Icon=zdoom
