[Desktop Entry]
Name=Master PDF Editor 5
Comment=Edit PDF files
Exec=/usr/lib/master-pdf-editor-5/masterpdfeditor5 %f
Path=/usr/lib/master-pdf-editor-5
Terminal=false
Icon=/usr/lib/master-pdf-editor-5/masterpdfeditor5.png
Type=Application
Categories=Office;Graphics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;
