[Desktop Entry]
Name=X-CD-Roast
Comment=CD burner
Comment[hu]=CD-író program
Exec=xcdroast
Icon=/usr/lib/xcdroast/icons/xcdricon.png
Terminal=false
Type=Application
Categories=AudioVideo;DiscBurning;
