[Desktop Entry]
Name=Ipe
Comment=Ipe extensible drawing editor
Comment[hu]=Rajz szerkesztő PDF és Postscript formátumokhoz
Exec=ipe
Icon=ipe
Terminal=false
Type=Application
Categories=Qt;Graphics;2DGraphics;VectorGraphics;
