[Desktop Entry]
Name=VTE
Comment=The core engine of GNOME Terminal
Comment[hu]=A GNOME Terminál lelke
Exec=vte
Icon=terminal
Type=Application
StartupNotify=false
Terminal=false
Categories=GTK;System;TerminalEmulator;
