[Desktop Entry]
Name=xzgv
Comment=Image viewer
Comment[hu]=Képnéző
Exec=xzgv
Terminal=false
Icon=/usr/share/pixmaps/xzgv-48.xpm
Type=Application
Categories=GTK;Graphics;Viewer;
X-UHU-Major=-1
