[Desktop Entry]
Name=TreeForm
Comment=Syntax Tree Drawing Software
Comment[hu]=Szintaxis-fa rajzoló
Exec=treeform
Icon=/usr/share/TreeForm/image/TreeFormBig.ico
Terminal=false
Type=Application
Categories=Utility;
