[Desktop Entry]
Type=Application
Name=XJig
Exec=xjig
Comment=Puzzle game
Comment[hu]=Kirakós játék
Terminal=false
StartupNotify=false
Categories=Game;LogicGame;
