[Desktop Entry]
Type=Application
Name=le
GenericName=Text Editor
GenericName[hu]=Szövegszerkesztő
Comment=Console Text Editor
Comment[hu]=Terminálban futó szövegszerkesztő
Exec=le %f
Terminal=true
Categories=Utility;TextEditor;ConsoleOnly;
X-UHU-Major=-1
