[Desktop Entry]
Type=Application
Name=Python3 Documentation
Name[hu]=Python3 dokumentáció
Comment=Python3_Documentation
Comment[hu]=Python3_dokumentáció
Exec=browser /usr/share/doc/python3/html/index.html
Icon=/usr/share/doc/python3/html/_static/py.png
Categories=Development;Documentation;
