[Desktop Entry]
Name=Golems
Comment=3D Simulation
Comment[hu]=3D fizikai szimuláció
Exec=golems
Icon=golems
Terminal=false
Type=Application
Categories=Game;Simulation;
