[Desktop Entry]
Name=Euler
Comment=Mathematical programming environment like MatLab or Octave
Comment[hu]=Matematikai programnyelv
Exec=euler
Icon=/usr/share/pixmaps/euler-icon.xpm
Terminal=false
Type=Application
Categories=Science;Math;
