[Desktop Entry]
Type=Application
Name=Motor
Comment=Textmode IDE
Comment[hu]=Karakteres IDE
Exec=motor %F
Icon=/usr/share/doc/motor/images/motor-mw.gif
Terminal=true
Categories=Development;IDE;ConsoleOnly;
