[Desktop Entry]
Version=1.0
Name=MolchEncfsManager
Name[hu]=MolchEncfsManager
GenericName=EncfsManager
GenericName[hu]=EncfsManager
Comment=Graphical frontend for encfs
Comment[hu]=Grafikus frontend az encfs titkosító programhoz
Exec=MolchEncfsManager
Terminal=false
Icon=MolchEncfsManager
Type=Application
Categories=System;Security;

