[Desktop Entry]
Type=Application
Name=Humphrey
Icon=/usr/share/games/humphrey/images/hi00.gif
Exec=humphrey
Terminal=false
StartupNotify=true
Categories=Game;ActionGame;