[Desktop Entry]
Type=Application
Name=xfe
Comment=MS-Explorer like file manager
Comment[hu]=MS-Explorer szerű fájlkezelő
Exec=xfe
Icon=/usr/share/xfe/icons/FileManager.png
Terminal=false
Categories=System;FileTools;FileManager;
