[Desktop Entry]
Name=Abevjava
Comment=APEH Abevjava
Comment[hu]=APEH nyomtatványkitöltő
Exec=abevjava
Icon=/usr/lib/abevjava/abevjava.ico
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;
