[Desktop Entry]
Name=vdr
Name[hu]=VDR
GenericName=Video Disk Recorder
Comment=vdr simple
Comment[hu]=vdr sima indító
Exec=vdr
Type=Application
Categories=AudioVideo;Video;TV;Player;
Icon=vdr
Terminal=true
