[Desktop Entry]
Name=vdr launch
Name[hu]=VDR szkriptes
GenericName=Video Disk Recorder
Comment=vdr launch with script
Comment[hu]=vdr szkriptes indító
Exec=vdrlaunch
Type=Application
Categories=AudioVideo;Video;TV;Player;
Icon=vdr
Terminal=true
