[Desktop Entry]
Type=Application
Name=HT Editor
Comment=binary editor
Comment[hu]=szöveges és bináris fájlok szerkesztője
Exec=hte
Terminal=true
Categories=Utility;FileTools;ConsoleOnly;
