[Desktop Entry]
Type=Application
Name=Simple Terminal
Name[hu]=Egyszerű terminál
GenericName=Terminal
GenericName[hu]=Terminál
Comment=standard terminal emulator for the X window system
Comment[hu]=X grafikus rendszer sztenderd terminálja
Exec=st -t "Suckless Terminal" -f "Source Code Pro:style=Semibold:size=12" -g "80x24"
Terminal=false
Icon=terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
