[Desktop Entry]
Type=Application
Name=Dosemu
Comment=DOS emulator
Exec=dosemu
Icon=dosemu
Terminal=false
StartupNotify=false
Categories=System;Emulator;
