[Desktop Entry]
Name=pinfo
Name[hu]=pinfo
Comment=info viewer
Comment[hu]=info megjelenítő
Exec=pinfo --rcfile /etc/pinforc
Icon=/usr/share/pixmaps/pinfo.jpg
Terminal=true
Type=Application
Categories=Utility;Documentation;
