[Desktop Entry]
Name=Worminator
GenericName=Worminator
GenericName[hu]=Kukac harcos
Type=Application
Icon=worminator
Exec=worminator
Categories=Game;ActionGame;
