[Desktop Entry]
Type=Application
Name=Mortál Szombat
Exec=openmortal.sh
Comment=Mortál Szombat is a parody of the popular coin-up game, Mortal Kombat
Comment[hu]=A népszerű Mortal Kombat játék paródiája
Categories=Game;ArcadeGame;
