[Desktop Entry]
Type=Application
Exec=mc
Name=Midnight Commander
Comment=Two-panel console file manager
Comment[hu]=Kétpaneles karakteres fájlkezelő
Icon=MidnightCommander
Terminal=true
Categories=ConsoleOnly;FileManager;System;FileTools;
X-UHU-Major=-1
