[Desktop Entry]
Type=Application
Name=gentoo
GenericName=file manager
Comment=2-pane file manager
Comment[hu]=Kétpaneles fájlkezelő
Exec=gentoo
TryExec=gentoo
Icon=/usr/share/gentoo/icons/gentoo.png
Terminal=false
StartupNotify=true
Categories=System;FileTools;GTK;FileManager;
