[Desktop Entry]
Name=Aumix
Comment=Console mixer
Comment[hu]=Szöveges hangkeverő
Exec=aumix
Terminal=true
Type=Application
Categories=AudioVideo;Audio;Mixer;ConsoleOnly;

