[Desktop Entry]
Name=GAumix
Comment=GTK mixer
Comment[hu]=GTK felületű hangkeverő
Exec=gaumix
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Audio;Mixer;
