[Desktop Entry]
Type=Application
Name=W3dwindowed
Comment=SDL-Port of Wolfenstein 3-D and Spear of Destiny
Icon=wolf4sdl
TryExec=w3dwindow
Exec=w3dwindow
Categories=Game;ActionGame;
