[Desktop Entry]
Type=Application
Name=Pushover
GenericName=Pushover Clone
GenericName[hu]=Pushover-klón
Comment=All dominos must fall
Comment[hu]=Döntsd le a dominókat
Exec=pushover
Icon=/usr/share/pushover/data/box.png
Categories=Game;BoardGame;
