[Desktop Entry]
Name=IDLE3
Comment=Integrated Development Environment for Python3
Exec=/usr/bin/idle3
Icon=idle3
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
