[Desktop Entry]
Name=IDLE (using Python-3.8)
Comment=Integrated Development Environment for Python (using Python-3.8)
Exec=/usr/bin/idle3
Icon=idle3
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
