[Desktop Entry]
Type=Application
Name=DOSBox
Comment=Dos emulator for running games
Comment[hu]=Dos-emulátor játékok számára
Exec=dosbox
Icon=dosbox
Categories=Game;Emulator;
