[Desktop Entry]
Name=Komodo Edit
GenericName=Editor
Comment=Free multi-platform editor that makes it easy to write quality code.
Exec=komodo %F
Icon=komodo
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Development;Utility;TextEditor;
