[Desktop Entry]
Name=BZFlag
Type=Application
Comment=A Multiplayer, 3D first person tank simulator
Comment[hu]=3D harckocsi szimulátor, hálózati támogatással, több játékos üzemmóddal
Icon=/usr/share/bzflag/bzflag-48x48.png
Exec=bzflag
Terminal=false
StartupNotify=false
Categories=Game;ActionGame;
