[Desktop Entry]
Name=GZDoom
GenericName=Doom Engine
GenericName[hu]=Doom motor
Exec=gzdoom
Type=Application
Categories=Game;ActionGame
StartupNotify=true
Icon=gzdoom
