[Desktop Entry]
Name=xman
Comment=manual page viewer
Comment[hu]=Kézikönyv oldalak
Exec=xman-run
Icon=
Terminal=false
Type=Application
Categories=Utility;Documentation;
