[Desktop Entry]
Name=speed-dreams
Comment=3D racing game with
Comment[de]=3D-Rennspiel
Comment[hu]=3D autóverseny
Exec=speed-dreams-2
Icon=sd2
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Game;SportsGame;

