[Desktop Entry]
Name=Tux Commander
Comment=A two panel file manager
Comment[hu]=Kétpaneles fájlkezelő
Exec=tuxcmd
Icon=tuxcmd
Terminal=false
Type=Application
Categories=GTK;Utility;System;FileManager;FileTools;
StartupNotify=true
X-Desktop-File-Install-Version=0.24
