[Desktop Entry]
Type=Application
Name=EagleMode
Comment=Visit everything in your PC by zooming in
Comment[hu]=Futurisztikus felhasználói felület
Exec=eaglemode
Icon=eaglemode
Terminal=false
Categories=System;FileTools;FileManager;
