[Desktop Entry]
Type=Application
Name=rxvt-unicode
Comment=An Unicode capable rxvt clone
Comment[hu]=Grafikus terminál
Exec=urxvt
Icon=rxvt-unicode
Categories=System;TerminalEmulator;
