[Desktop Entry]
Type=Application
Name=Vavoom Launcher
Name[hu]=Vavoom indító
GenericName=Doom Engine
GenericName[hu]=Doom futtató motor
Icon=vavoom
Exec=vlaunch
Categories=Game;ActionGame;
