[Desktop Entry]
Type=Application
Name=LTris
Exec=ltris
Icon=/usr/share/icons/ltris48.gif
Comment=Tetris Game
Comment[hu]=Tetris játék
Categories=Game;BlocksGame;
