[Desktop Entry]
Name=Mesa-egldemos
Name[hu]=Mesa egl demók
Exec=mesa-egl
Type=Application
Categories=Presentation;Office
Icon=mesa-demos
Terminal=true
