[Desktop Entry]
Name=Mesa-objview
Name[hu]=Mesa objview demó
Exec=mesa-objview
Type=Application
Categories=Presentation;Office
Icon=mesa-demos
Terminal=true
