[Desktop Entry]
Name=Mesa-xorg demos
Name[hu]=Mesa xorg demók
Exec=mesa-x
Type=Application
Categories=Presentation;Office
Icon=mesa-demos
Terminal=true
