[Desktop Entry]
Name=Mesa-trivial demos
Name[hu]=Mesa triviális demók
Exec=mesa-trivial
Type=Application
Categories=Presentation;Office
Icon=mesa-demos
Terminal=true
