[Desktop Entry]
Name=Mesa-glsdemos
Name[hu]=Mesa gls demók
Exec=mesa-gls
Type=Application
Categories=Presentation;Office
Icon=mesa-demos
Terminal=true
