[Desktop Entry]
Type=Application
Name=Calibre
Comment=E-book manager
Comment[hu]=E-book kezelő
Exec=calibre %f
Icon=calibre
Categories=Office;Database;FileTools;Viewer;Qt;
MimeType=x-content/ebook-reader;
