[Unit]
Description=OpenLDAP server daemon

[Service]
Type=forking
PIDFile=/run/openldap/slapd.pid
ExecStart=/usr/sbin/slapd -h "ldapi:/// ldap:///"

[Install]
WantedBy=multi-user.target
