[Desktop Entry]
Type=Application
Name=Sokoban
Name[hu]=Sokoban-klón
Comment=Sokoban clone
Comment[hu]=Sokoban féle játék
Exec=sokoban
Icon=/usr/share/games/sokoban/gfx/Catgirl22.png
Categories=Game;LogicGame;
