[Desktop Entry]
Name=tulip
Comment=Graph visualization software
Comment[hu]=Grafikus vizualizáció
Exec=tulip
Icon=Tulip
Terminal=false
Type=Application
Categories=Graphics;Publishing;
