[Desktop Entry]
Type=Application
Name=Calamares_net
Name[hu]=Calamares online
GenericName=System online installer
GenericName[hu]=Rendszertelepítő hálózattal
Comment=System installer with network and package selections
Comment[hu]=A rendszer telepítése hálózattal és csomag választással
Exec=calamares_net
TryExec=calamares_net
Icon=calamares
StartupNotify=true
Terminal=true
Categories=System;
Keywords=calamares;system;installer
