[Desktop Entry]
Type=Application
Name=Calamares_live
Name[hu]=Telepítés egyszerűen
GenericName=System installer offline
GenericName[hu]=Rendszer telepítő hálózat nélkül
Comment=System installer offline
Comment[hu]=A rendszer telepítése hálózat nélkül
Exec=calamares_live
TryExec=calamares_live
Icon=uhu-128x128
StartupNotify=true
Terminal=false
Categories=System;
Keywords=calamares;system;installer
