[Desktop Entry]
Type=Application
Name=Calamares_net
Name[hu]=Telepítés hálózattal
GenericName=System online installer
GenericName[hu]=Rendszer telepítő hálózattal
Comment=System installer with network and package selections
Comment[hu]=A rendszer telepítése hálózattal és csomag választással
Exec=calamares_net
TryExec=calamares_net
Icon=uhu-128x128
StartupNotify=true
Terminal=true
Categories=System;
Keywords=calamares;system;installer
