[Desktop Entry]
Type=Application
Name=Calamares_live
Name[hu]=Calamares offline
GenericName=System installer offline
GenericName[hu]=Rendszertelepítő hálózat nélkül
Comment=System installer offline
Comment[hu]=A rendszer telepítése hálózat nélkül
Exec=calamares_live
TryExec=calamares_live
Icon=calamares
StartupNotify=true
Terminal=false
Categories=System;
Keywords=calamares;system;installer
