[Unit]
Description=Epson Custom Backend Daemon
DefaultDependencies=no
After=systemd-sysctl.service syslog.target

[Service]
Type=oneshot
PIDFile=/run/ecbd.pid
ExecStart=/usr/lib/epson-backend/ecbd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
