[Desktop Entry]
Type=Application
Exec=alephone-marathon-windowed
Name=Marathon windowed (Aleph One)
Categories=Game;ActionGame;
Comment=A FPS game by Bungie
