[Desktop Entry]
Type=Application
Name=Pathological
Name[hu]=Pathological
Comment=Pathological is a puzzle game
Comment[hu]=Kirakós logikai játék
Exec=pathological
Icon=/usr/share/pathological/icons/pathological.xpm
Terminal=false
StartupNotify=false
Categories=Game;LogicGame;
