[Desktop Entry]
Name=Quadra
Comment=Advanced multiplayer Tetris
Comment[hu]=Tetris több játékossal
Exec=padsp quadra
Icon=/usr/share/pixmaps/quadra.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;BlocksGame;
