[Desktop Entry]
Type=Application
Name=FuSE-sdl
GenericName=Free Unix Spectrum Emulator
GenericName[hu]=Spectrum emulátor
Exec=fuse-sdl
Categories=Game;Emulator;
Icon=FuSE-sdl
