[Desktop Entry]
Type=Application
Name=FuSE
GenericName=Free Unix Spectrum Emulator
GenericName[hu]=Spectrum emulátor
Exec=fuse
Categories=GTK;Game;Emulator;
Icon=fuse-emulator
