[Desktop Entry]
Type=Application
Name=FuSE-gtk
GenericName=Free Unix Spectrum Emulator
GenericName[hu]=Spectrum emulátor
Exec=fuse
Categories=GTK;Game;Emulator;
Icon=FuSE-gtk
