[Desktop Entry]
Name=Moon-Buggy
Name[hu]=Holdjáró
GenericName=Arcade Game
GenericName[af]=Arkade Speletjie
GenericName[ar]=لعبة أركاد
GenericName[be]=Аркадная гульня
GenericName[bg]=Игра в Галерия със сводове
GenericName[bs]=Arkadna igra
GenericName[ca]=Joc d'arcade
GenericName[cs]=Arkádová hra
GenericName[da]=Arkade-videospil
GenericName[de]=Arkade-Spiel
GenericName[el]=Παιχνίδι Arcade
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade Jokoa
GenericName[fa]=بازی Arcade
GenericName[fi]=Arcade peli
GenericName[fo]=Arkaduspæl
GenericName[fr]=Jeu d'arcade
GenericName[he]=משחק Arcade
GenericName[hr]=Arkadna igra
GenericName[hu]=ügyességi játék
GenericName[is]=Skotleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[ko]=오락실 놀이
GenericName[lo]=ເກມອາເຄດດ໌
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes Spēle
GenericName[mk]=Аркадна игра
GenericName[mt]=Logħba tal-arcades
GenericName[nb]=Arkadespill
GenericName[nl]=arcade-spel
GenericName[nn]=Arkadespel
GenericName[nso]=Papadi ya Arcade
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]= Arcade
GenericName[ro]=Joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[se]=Arcade-speallu
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[ss]=Umdlalo we Arcade
GenericName[sv]=Arkadspel
GenericName[ta]=Arcade Game-Å¢¨ÇÂ¡ðÎ
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[ven]=Mutambo wa Akheidi
GenericName[xh]=Umdlalo we Arcade
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
GenericName[zu]=Umdlalo womhhume
Exec=moon-buggy
Terminal=true
Type=Application
Icon=moon-buggy
Categories=Game;ArcadeGame;ConsoleOnly;
