[Desktop Entry]
Exec=xdg-user-dirs-update
Name=User folders update
Name[hu]=Felhasználói mappák frissítése
Comment=Update common folders names to match current locale
Comment[hu]=Általános mappanevek frissítése az aktuális területi beállításra
Terminal=false
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
