[Desktop Entry]
Name=Thunderbird
Exec=thunderbird
Icon=thunderbird
Terminal=false
Type=Application
GenericName=E-mail_client
GenericName[hu]=E-mail_kliens
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
