[Desktop Entry]
Type=Application
Name=Python Documentation
Name[hu]=Python dokumentáció
Comment=Python_Documentation
Comment[hu]=Python doksi
Exec=browser /usr/share/doc/python/html/index.html
Icon=/usr/share/doc/python/html/_static/py.png
Categories=Development;Documentation;
