[Desktop Entry]
Name=Nether Earth
Comment=Very first Real Time Strategy game ever.
Comment[hu]=A valós idejű stratégiai játékok első képviselője
Exec=nether
Icon=netherearth
Terminal=false
Type=Application
Categories=Game;StrategyGame;
StartupNotify=false
