[Desktop Entry]
Name=XEphem
Comment=Astronomical Program
Comment[hu]=Csillagászati program
Exec=xephem
Type=Application
Categories=Science;Astronomy;
