[Desktop Entry]
Type=Application
Exec=tygemo  
Name=TyGeMo
Comment=PhotoPC GUI
Comment[hu]=Digitális fényképezés
Terminal=false
Categories=Graphics;Photography;
