[Desktop Entry]
Type=Application
Name=NcFTP
Comment=Command-line FTP client
Comment[hu]=Parancssoros FTP-kliens
Exec=ncftp
Terminal=true
Categories=Network;FileTransfer;ConsoleOnly;
X-UHU-Major=-1
