[Desktop Entry]
Type=Application
Name=XSensors
GenericName=Hardware Monitor
Comment=View hardware health
Exec=xsensors
Icon=xsensors
Terminal=false
Categories=System;Monitor;GTK
