[Desktop Entry]
Type=Application
Name=listpatron
Comment=list of information
Comment[hu]=lista-adatkezelő
Exec=listpatron
Icon=
Terminal=false
Categories=Office;Database;
X-UHU-Major=-1
