[Desktop Entry]
Name=HOC
Comment=High-order calculator
Comment[hu]=interaktív lebegőpontos nyelv
Exec=hoc
Terminal=true
Type=Application
Categories=Education;Math;ConsoleOnly;
