[Desktop Entry]
Name=FreeMind
Comment=A free mind mapping tool
Comment[hu]=elmetérkép-készítő
Exec=freemind
Terminal=false
Icon=freemind
Type=Application
MimeType=application/x-freemind;
Categories=Office;
