[Desktop Entry]
Name=Fetchmailconf
Name[hu]=Fetchmail beállító
Comment=Configurator for fetchmail
Comment[hu]=Beállító program fetchmail-hez
Exec=fetchmailconf
Type=Application
Categories=Settings;
