[Desktop Entry]
Name=newLISP
Comment=Lisp-like, general-purpose scripting language
Comment[hu]=Lisp-szerű, általános célú programozási nyelv
Exec=browser /usr/share/doc/newlisp/manual_frame.html
Icon=/usr/share/newlisp/newLISP128.png
Type=Application
Categories=Development;
