[Desktop Entry]
Name=sdedit
Comment=sd_editor
Comment[hu]=Folyamatábra szerkesztő
Exec=sdedit.sh %F
Icon=/usr/share/pixmaps/sdedit.jpg
Terminal=false
Type=Application
Categories=Office;FlowChart;
