[Desktop Entry]
Name=Calcoo
Comment=Calculator
Comment[hu]=Számológép
Exec=calcoo
Icon=/usr/share/pixmaps/calcoo.xpm
Terminal=false
Type=Application
Categories=Office;Calculator;
