[Desktop Entry]
Name=Rubix
Comment=3D Rubik cube
Comment[hu]=Bűvös kocka
Exec=rubix
Icon=rubix
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;LogicGame;
