[Desktop Entry]
Type=Application
Name=Dalí clock
Name[hu]=Dalí óra
Comment=Clock in the style of Salvador Dalí
Comment[hu]=Óra Salvador Dalí stílusában
Exec=xdaliclock
Categories=Utility;Clock;
