[Desktop Entry]
Type=Application
Name=Sauerbraten
Comment=FPS that uses an improved version of the Cube engine
Comment[hu]=FPS játék Cube meghajtóval 
Exec=sauerbraten-client -t
Icon=sauerbraten
Terminal=false
StartupNotify=false
Categories=Game;ActionGame;
