[Desktop Entry]
Name=Njam
Exec=njam -w
Icon=/usr/share/njam/njamicon.ico
Type=Application
Categories=Game;ArcadeGame;
Terminal=false
StartupNotify=true
