[Desktop Entry]
Type=Application
Name=DDD
Comment=Data Display Debugger
Comment[hu]=Data Display Debugger hibakereső
Exec=ddd
Categories=Development;
