[Desktop Entry]
Name=Zenmap
GenericName=Security Scanner
Comment=GUI frontend for Nmap security/port scanner
Comment[hu]=Nmap grafikus felület
Exec=zenmap
Icon=zenmap
Terminal=false
Type=Application
StartupNotify=false
Categories=GTK;System;Security;
