[Desktop Entry]
Type=Application
Name=Ustunts Track Editor
Name[hu]=Ultimate stunts pályaszerkesztő
Icon=ultimatestunts
Exec=ustuntstrackedit
Terminal=false
StartupNotify=true
Categories=Game;ArcadeGame;
