[Desktop Entry]
Type=Application
Name=Ultimate stunts
Comment=UltimateStunts will be a remake of the famous DOS-game stunts.
Comment[hu]=Az egykori DOS-ra írt pálya autós játék felújítása.
Icon=ultimatestunts
Exec=ustunts
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
