[Desktop Entry]
Type=Application
Name=Qt4 QDbusViewer
GenericName=D-Bus Debugger
Comment=Qt4 D-Bus Debugger
Comment[hu]=Qt4 D-Bus Debugger
Exec=qdbusviewer-qt4
Icon=qdbusviewer-qt4
Categories=Qt;Development;Debugger;
