[Desktop Entry]
Type=Application
Name=QT4 Linguist
Comment=QT4 Translation tool
Comment[hu]=QT4 fordításkészítő
Exec=linguist-qt4
Icon=linguist-qt4
Categories=Qt;Development;Translation;
