[Desktop Entry]
Type=Application
Name=QT4 Designer
Comment=QT4 Designer
Comment[hu]=QT4 fejlesztőeszköz
Exec=designer-qt4
Icon=designer-qt4
Categories=Qt;Development;IDE;