[Desktop Entry]
Type=Application
Name=gnubiff
Comment=Notification when mail arrives
Comment[hu]=Értesítés új levél érkezésekor
Icon=gnubiff
Exec=gnubiff
Categories=Network;Email;
