[Desktop Entry]
Name=Firefox
Exec=firefox %u
Icon=firefox
Terminal=false
Type=Application
GenericName=Web Browser
GenericName[hu]=Webböngésző
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;text/xml;application/xhtml+xml;
