[Desktop Entry]
Type=Application
Name=bclock
Comment=Bezier-clock
Comment[hu]=Bezier-óra
Exec=bezierclock
Terminal=false
Icon=/usr/share/pixmaps/bezier.jpg
Categories=Utility;Clock;
