[Unit]
Description=Munin node service
After=network.target

[Service]
Type=forking
PIDFile=/var/run/munin/munin-node.pid
ExecStart=/usr/sbin/munin-node
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
