[Desktop Entry]
Name=Phun
Comment=2D physics sandbox
Comment[hu]=2D fizikai szimulációs játék
Exec=phun
Icon=/usr/share/Phun/phun-icon.png
Terminal=false
Type=Application
Categories=Game;Simulation;
