[Desktop Entry]
Name=Frogatto
Comment=Young frog's adventure
Comment[ru]=Приключения лягушонка
Comment[hu]=Breki és barátai
Exec=frogatto --fullscreen
Icon=/usr/share/pixmaps/frogatto.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;ArcadeGame;
