[Unit]
Description=Open Source Conditional Access Module

[Service]
Type=simple
ExecStart=/usr/bin/oscam --restart 2
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
