[Desktop Entry]
Name=Firewall Builder
Comment=Firewall utility
Comment[hu]=Tűzfalbeállító program
Exec=fwbuilder
Type=Application
Categories=Network;
