[Desktop Entry]
Type=Application
Name=Tux Racer
Exec=tuxracer
Icon=/usr/share/pixmaps/tuxracer.svg
Comment=Sliding downhill with Tux the penguin
Comment[hu]=Hasoncsúszás Tuxszal, a pingvinnel
Categories=Game;ArcadeGame;
