[Desktop Entry]
Name=basex
Comment=XML Processing and Visualization
Comment[hu]=XML kezelő
Exec=basex-gui
Icon=basex
Terminal=false
Type=Application
Categories=Development;
