[Desktop Entry]
Name=prboom
GenericName=Doom Engine
GenericName[hu]=Doom motor
Exec=prboom -window
Type=Application
Categories=Game;ActionGame
StartupNotify=true
Icon=heada1
