[Desktop Entry]
Type=Application
Name=ROX-Filer
Comment=Filer
Comment[hu]=ROX-Filer fájlkezelő
Exec=rox
Icon=rox
Terminal=false
Categories=System;FileTools;FileManager;
