[Desktop Entry]
Name=RapidSVN
Comment=A multi-platform GUI client for the Subversion version control system
Comment[hu]=Többplatformos, grafikus kliens a Subversion (SVN) verziókövető rendszerhez
Exec=rapidsvn
Icon=/usr/share/pixmaps/rapidsvn.ico
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Development;RevisionControl;
