[Desktop Entry]
Name=Blender
Comment=3D graphics creation suite
Comment[hu]=3D modellező és animációkészítő program
Exec=blender
Icon=blender
Type=Application
Categories=Graphics;3DGraphics;
