[Desktop Entry]
Type=Application
Name=Jump 'n Bump
Exec=jnbmenu.tcl
Comment=Killing Bunnies
Comment[hu]=Nyuszigyilok minden mennyiségben
Icon=/usr/share/pixmaps/jumpnbump64.xpm
Categories=Game;ActionGame;
