[Desktop Entry]
Name=Tilde
Comment=tilde editor
Comment[hu]=Tilde text editor
Exec=tilde
Icon=tilde
Terminal=true
Type=Application
Categories=Utility;TextEditor;ConsoleOnly;

