[Desktop Entry]
Name=Smart package manager
Name[hu]=Smart csomagkezelő
Comment=Package manager
Comment[hu]=Csomagkezelő
Exec=smart --gui
Icon=/usr/lib/python2.6/site-packages/smart/interfaces/images/smart.png
Categories=Settings;
Terminal=false
Type=Application
Hidden=false
StartupNotify=true
