[Desktop Entry]
Name=Regedit
Comment=Wine registry editor
Comment[hu]=Wine registry szerkesztő
Exec=regedit
Icon=regedit
Terminal=false
Type=Application
Categories=X-Wine;
