[Desktop Entry]
Type=Application
Name=Windows Installer File
Name[hu]=Windows Installer fájl
Exec=wine %f
MimeType=application/x-ole-storage;text/mspg-legacyinfo;
Hidden=true
