[Desktop Entry]
Name=Wine Help
Comment=Windows Help Browser
Name[hu]=Wine Súgó
Comment[hu]=Windows súgó megjelenítő
Exec=wine winhlp32
Icon=winhelp
Terminal=false
Type=Application
Categories=X-Wine;
