[Desktop Entry]
Name=Notepad
Comment=Text Editor
Comment[hu]=Szövegszerkesztő
Exec=notepad
Icon=notepad
Terminal=false
Type=Application
Categories=X-Wine;
