[Desktop Entry]
Type=Application
Name=CloneKeen
GenericName=Adventure Game
GenericName[hu]=Kalandjáték
Comment=A Commander Keen clone
Comment[hu]=Commander Keen klón
Exec=clonekeen
Icon=clonekeen
Categories=Game;ActionGame;
