[Desktop Entry]
Name=gxine
GenericName=Video Player
GenericName[ca]=Reproductor de peŀlícules
GenericName[de]=Video-Player
GenericName[es]=Reproductor de películas
GenericName[hu]=Videólejátszó
Comment=Watch videos or TV and listen to audio in a variety of formats
Comment[ca]=Reproduïu vídeos i cançons
Comment[es]=Reproduce vídeos y canciones
Comment[hu]=Film- és zenelejátszó, digitális TV-néző
Exec=gxine %U
X-MultipleArgs=true
Icon=gxine
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Video;GTK;Player;
