[Desktop Entry]
Type=Application
Name=Xaos
Comment=Realtime fractalviewer
Comment[hu]=Valósidejű fraktálnézegető
Exec=xaos
Icon=xaos
Categories=Education;DataVisualization;
