[Desktop Entry]
Type=Application
Name=Fish Fillets
Comment=Sokoban-style game with two fish
Comment[hu]=Sokoban típusú játék két halacskával
Exec=fillets
Icon=fillets
Categories=Game;LogicGame;
Terminal=false
StartupNotify=false
