[Desktop Entry]
Type=Application
Name=Me TV
Comment=A digital television (DVB) viewer for GTK+3
Comment[hu]=Digitális TV (DVB) néző
Exec=me-tv
Icon=me-tv
Terminal=false
StartupNotify=true
Categories=AudioVideo;GTK;TV;Player;
MimeType=video/mpeg;audio/x-mpeg;video/x-mpeg;
