[Desktop Entry]
Name=Dangerdeep
GenericName=Danger_deep
GenericName[hu]=Veszélyes merülés
Comment=Submarine Simulator Game
Comment[hu]=Tengeralattjáró szimulátor
Exec=dangerdeep --nofullscreen
Icon=/usr/share/pixmaps/dftd_icon.xpm
Categories=Game;Simulation;
StartupNotify=true
Type=Application
