[Desktop Entry]
Name=Fast configurator for UHU
Name[hu]=UHU Gyorsbeállító
Exec=uhu-zeroconf
Icon=gnome-terminal
Type=Application
Categories=Settings;
