[Desktop Entry]
Name=CatDoc
Comment=MS-Word document viewer
Comment[hu]=MS-Word dokumentum megjelenítő
TryExec=wordview
Exec=wordview %U
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/wordview.gif
Categories=Office;Viewer;
