[Desktop Entry]
Name=Widelands
Comment=Realtime strategy game
Comment[hu]=Valósidejű stratégiai játék
Icon=widelands
Exec=widelands
Type=Application
Categories=Game;StrategyGame;
