[Desktop Entry]
Type=Application
Name=GdMap
Comment=DiskMap
Comment[hu]=Vizuális lemezfoglaltság mutató
Exec=gdmap
Icon=/usr/share/tea/pixmaps/gdmap_icon.png
Terminal=false
Categories=System;Monitor;
