[Desktop Entry]
Type=Application
Name=XBoard (Fairlymax)
Comment=Chess program Fairlymax
Comment[hu]=Sakkprogram Fairlymax motorral
Exec=xboard
Icon=xboard
Categories=Game;BoardGame;
