[Desktop Entry]
Type=Application
Name=XBoard (Sjeng)
Comment=Chess program Sjeng
Comment[hu]=Sakkprogram Sjeng motorral
Exec=xboard -fcp sjeng
Icon=xboard
Categories=Game;BoardGame;
