[Desktop Entry]
Type=Application
Name=XBoard GNU
Comment=GNU Chess program
Comment[hu]=Sakkprogram GNU sakkmotorral
Exec=xboard -fcp gnuchess
Icon=xboard
Categories=Game;BoardGame;
