[Desktop Entry]
Name=Miniracer
Comment=Car racing game
Comment[hu]=Autóverseny
GenericName=Car racing
Exec=miniracer
Icon=miniracer
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
