[Desktop Entry]
Type=Application
Name=GNU nano
GenericName=Text Editor
GenericName[hu]=Szövegszerkesztő
Comment=Console Text Editor
Comment[hu]=Terminálban futó szövegszerkesztő
Icon=nano
Exec=nano %F
Terminal=true
Categories=Utility;TextEditor;ConsoleOnly;
X-UHU-Major=-1
