[Desktop Entry]
Name=bmpanel2cfg
GenericName=bmpanel2cfg
Comment=Configuration Utility for bmpanel2
Exec=bmpanel2cfg
Icon=preferences-system-windows
Terminal=false
Type=Application
Categories=Settings;
