[Desktop Entry]
Type=Application
Name=transmission-remote-gui 
GenericName=Transmission Remote Gui
Comment=Cross platform remote GUI for the Transmission Bit-Torrent client
Icon=transgui
TryExec=transgui
Exec=transgui
Terminal=false
Categories=Network;FileTransfer;P2P;GTK;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
