[Desktop Entry]
Type=Application
Name=eterm
Comment=Color Terminal Emulator
Comment[hu]=vt102 terminál emulátor
Exec=Eterm
Icon=eterm
Terminal=false
Categories=System;TerminalEmulator;
